{% extends "base.html" %}
{% from "_formhelpers.html" import render_field %}

{% block body %}
    <div class="container">

        <div class="section">
            <div class="row">
                <div class="three columns">&nbsp</div>
                <div class="six columns">
                    <div class="panel">

                        <h4 class="display-3 mb-4">Hi {{current_user.first_name}}</h4>
                        <p>Here you can withdraw funds for a birthday</p>

                        <form action="{{url_for('pay')}}" method="POST" name="form" enctype="multipart/form-data">
                            {{ form.hidden_tag() }}
                            {{ render_field(form.user, class="u-full-width") }}
                            {{ render_field(form.gift, class="u-full-width") }}
                            {{ render_field(form.amount, class="u-full-width") }}
                            {{ form.submit(class="button-primary") }}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
